<div class="container-fluid container-fluid-custom">
    <h1 class="display-2 fw-bold mb-2 position-relative home-title"">About</h1>
    <p class="fs-4 mb-4">Welcome to NodeJS Notes, your go-to application for organizing your notes efficiently. Whether you're a student, professional, or someone who loves to jot down ideas, NodeJS Notes provides a simple and intuitive platform to manage your notes seamlessly.</p>
    <p class="fs-4 mb-4">Our app allows you to create, edit, and delete notes with ease. You can categorize your notes, search through them, and keep track of important information effortlessly.</p>
    <p class="fs-4 mb-4">NodeJS Notes is built using modern technologies to ensure reliability and performance. It's designed to be user-friendly, with a clean interface that focuses on enhancing your note-taking experience.</p>
    <p class="fs-4 mb-4">Feel free to explore and start organizing your thoughts with NodeJS Notes today!</p>
</div>
